<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js">
</script>
<script type="text/javascript">
       //By using jQuery
       $(window).bind('beforeunload', function () {
               return 'If you leave the application will stop.';
       });
</script>
    <title>Class-ify</title>
</head>
<body>

  <header><h1>KEEP THIS PAGE OPEN!</h1></header>

  <h4>You will receive a confirmation text and/or email for signing up.</h4>

  <h3>Please keep this page open if you want to keep receive notifications.</h3>

  <h2>Thank you for using this application!</h2>

  <p>
    <applet code="Logo.class" archive="Logo.jar"></applet>
   </p>
   <p>
    <object codetype="application/java" classid="java:Logo.class"
     archive="Logo.jar"></object>
   </p>

<footer><h1>KEEP THIS PAGE OPEN!</h1></footer>

</body>
</html>
