<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <title>Class-ify</title>
  </head>

  <body>
    <div class="container-fluid"> <!-- Allows the page to adjust to user's display -->
      <div class="row"> <!-- creates the grid -->
        <div class ="col-md-6">
          <form action="/"><button class ="btn-block btn btn-info"><h3>Home</h3></button></form>
        </div>
        <div class ="col-md-6">
          <form action="/about"><button class="btn-block btn btn-warning"><h3>About</h3></button></form>
        </div>
      </div>
  	  <h4>Youre Done</h4>
  	</div>
  </body>

  <footer><img src="../static/imgs/berkeleylogo.jpg"
    alt="UC Berkeley" style="width:30%;height:5%;">
  </footer>

</html>
