<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
    <link rel="stylesheet" href="../static/css_style/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="../static/js_style/style.js"></script>
    <script src="../static/js_style/mandatory_checkboxes.js"></script>
    <title>Class-ify</title>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row"> <!-- creates the grid -->
        <div class ="col-md-6">
          <form action="/"><button class ="btn-block btn btn-info"><h3>Home</h3></button></form>
        </div>
        <div class ="col-md-6">
          <form action="/about"><button class="btn-block btn btn-warning"><h3>About</h3></button></form>
        </div>
      </div>

      <h1 id="titl" class="text-center">Welcome to Class-ify!</h1>
      <div id="data">
        <h2 class="text-center">Worried about registering for classes because you go to a UC that claims their students would never find it difficult to register for "small" classes with 1000+ students? </h2>
        <h3>Well we're here to help!</h3>
        <h4>Select a UC campus that you attend. Go to its registration page separate from this page and remember the course number of the class you'd like to register for. Fill in the respective information for the class. Select a means of contacting you (email or text or both) that you'd like us to contact you through to receive a notification that your class is finally open. You will receive a notification every so often to ensure that the program is running. Once you confirm your class and contact info, a browser will pop up. DO NOT CLOSE THE BROWSER THAT OPENS UP TO SEARCH THROUGH THE CLASSES! So dont worry, sit back and relax and you'll be registered for the class of your choice as soon as the next person drops the class. </h4>

        <div class="text-center">
          <form action = "/school" name = "userData">
            <button class="center">Start!</button>
          </form>
        </div>
      </div>
    </div>
  </body>

</html>>