<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
      <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
      <link rel="stylesheet" href="../static/css_style/notifstyle.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="../static/js_style/mandatory_checkboxes.js"></script>
      <title>Class-ify</title>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class ="col-md-6">
          <form action="/"><button class ="btn-block btn btn-info"><h3>Home</h3></button></form>
        </div>
        <div class ="col-md-6">
          <form action="/about"><button class="btn-block btn btn-warning"><h3>About</h3></button></form>
        </div>
      </div>
      <p></p>
      <h1>Please choose a method of notification</h1>
      <form action="/confirm" method="post" name="userData">
        <h2>Email:</h2>
        <input type="checkbox" name="email" id="isEmailSelected">
        <input type="text" name="emailName" id="emailInfo"><br>
        <h2>Text and Service:</h2>
        <input type="checkbox" name="text" id="isTextSelected"><br>
        <input type="text" name="phoneNumber" id="textInfo" placeholder="########## Format">
        <select size="1" style="width:250px" id="serviceInfo" name="service">
          <option value="Service Company" selected='selected'>Service Company </option>
          <option>att</option>
          <option>tmobile</option>
          <option>verizon</option>
          <option>sprint</option>
          <option>virginmobile</option>
          <option>metropcs</option>
          <option>boostmobile</option>
          <option>cricket</option>
          <option>ting</option>
        </select>
        <input type="submit" value="confirm" />
      </form>
    <p></p><p></p><p></p>
    </div>
  </body>

  <footer><img src="../static/imgs/berkeleylogo.jpg"
    alt="UC Berkeley" style="width:30%;height:5%;">
  </footer>
</html>
