<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
    <link rel="stylesheet" href="../static/css_style/opacSchoolBox.css"/>
    <link rel="stylesheet" href="../static/css_style/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4.1.1/dist/masonry.pkgd.min.js"></script>
    <script src="../static/js_style/style.js"></script>
    <script src="../static/js_style/mandatory_checkboxes.js"></script>
    <title>Class-ify</title>
  </head>
  
  <body>
  	<div class="container-fluid">
      <div class="row"> <!-- creates the grid -->
        <div class ="col-md-6">
          <form action="/"><button class ="btn-block btn btn-info"><h3>Home</h3></button></form>
        </div>
        <div class ="col-md-6">
          <form action="/about"><button class="btn-block btn btn-warning"><h3>About</h3></button></form>
        </div>
      </div>

      <h1 id="titl" class="text-center">Select a Campus Location</h1>

      <div class="row">
      	<div class ="col-md-4">
          <a href="/user-data">
            <div class="container">
              <img src="../static/imgs/berkeley.png" alt="Berkeley" id="image" style="width:30%;height:5%;">
                <div class="middle">
                  <div class="text">UC Berkeley</div>
               </div>
            </div>
          </a>
        </div>
        <div class ="col-md-4">
          <a href="/user-data">
            <div class="container">
              <img src="../static/imgs/davis.png" alt="Davis" class="image" style="width:30%;height:5%;">
                <div class="middle">
                  <div class="text">UC Davis</div>
               </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/user-data">
            <div class="container">
              <img src="../static/imgs/santacruz.jpg" alt="Santa Cruz" class="image" style="width:30%;height:5%;">
                <div class="middle">
                  <div class="text">UC Santa Cruz</div>
               </div>
            </div>
          </a>
        </div>
      </div>
      <br><br>

      <div class="row">
        <div class="col-md-4">
          <a href="/user-data">
            <div class="container">
              <img src="../static/imgs/merced.png" alt="Merced" class="image" style="width:30%;height:5%;">
                <div class="middle">
                  <div class="text">UC Merced</div>
               </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/user-data">
            <div class="container">
              <img src="../static/imgs/santabarbara.png" alt="Santa Barbara" class="image" style="width:30%;height:5%;">
                <div class="middle">
                  <div class="text">UC Santa Barbara</div>
               </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/user-data">
            <div class="container">
              <img src="../static/imgs/losangeles.png" alt="Los Angeles" class="image" style="width:30%;height:5%;">
                <div class="middle">
                  <div class="text">UC Los Angeles</div>
               </div>
            </div>
          </a>
        </div>
      </div>
      <br><br>

      <div class="row">
        <div class="col-md-4">
          <a href="/userData">
            <div class="container">
              <img src="../static/imgs/irvine.png" alt="Irvine" class="image" style="width:30%;height:5%;">
                <div class="middle">
                  <div class="text">UC Irvine</div>
               </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/userData">
            <div class="container">
              <img src="../static/imgs/riverside.gif" alt="Riverside" class="image" style="width:30%;height:5%;">
                <div class="middle">
                  <div class="text">UC Riverside</div>
               </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="/userData">
            <div class="container">
              <img src="../static/imgs/sandiego.png" alt="San Diego" class="image" style="width:30%;height:5%;">
                <div class="middle">
                  <div class="text">UC San Diego</div>
               </div>
            </div>
          </a>
        </div>
      </div>

    </div>
  </body>
</html>

