<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/css/main.css" />
    <link rel="stylesheet" href="../static/assets/css/wrapper.css" />
    <link rel="stylesheet" href="../static/assets/css/icon.css" />
    <link rel="stylesheet" href="../static/assets/css/list.css" />
    <link rel="stylesheet" href="../static/assets/css/button.css" />
    <link rel="stylesheet" href="../static/assets/css/form.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <title>Class-ify</title>
  </head>

  <body>
    <!-- Wrapper -->
    <div id="wrapper" class="divided">
      <section class="wrapper style1 align-center">
        <div class="inner">
          <!-- Unordered List -->
          <section>
            <header>
              <h2>Please read through the following and check off once you understand.</h2>
            </header>
            <div class="content">
              <ul class="alt">
                <li>
                  <input type="checkbox" name="num1" id="num1">
                  <label for="num1">
                    Ensure you have a strong, reliable wifi.
                  </label>
                </li>
                
                <li>
                  <input type="checkbox" name="num2" id="num2">
                  <label for="num2">
                    Keep the laptop open because this program is a web browser that will stop running when the internet dies or when the machine turns off/goes to sleep.
                  </label>
                </li>

                <li>
                  <input type="checkbox" name="num3" id="num3">
                  <label for="num3">
                    Once you see a new window pop up, you may close this tab.Never close the window that has popped up, it will close on its own once the program is finished.
                  </label>
                </li>

                <li>
                  <input type="checkbox" name="num4" id="num4">
                  <label for="num4">
                    A confirmation email/text will be sent as soon as the window has popped up. If you do not see one, please resubmit a form or else the notification will not be sent to the wrong person.
                  </label>
                </li>

              </ul>
            </div>
          </section>
        </div>
        <!-- runProgram -->
        <input type = "submit" value = "run" />
      </section>
    </div>


    <!-- footer -->
    <footer class="wrapper style1 align-center">
      <div class="inner">
        <ul class="icons">
          <li>
            <a href="https://github.com/Se7ensins1/Class-ify" class="icon style2 fa-github">
              <span class="label">GitHub</span>
            </a>
            <a href="/about" class="icon style2 fa-user">
              <span class="label">About</span>
            </a>
          </li>
        </ul>
        <p>Design: <a href="https://html5up.net/story">HTML5 UP</a>.</p>
      </div>
    </footer>
  </body>

  

</html>
